<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta content="" name="description">
        <meta content="" name="author">
        <link href="favicon.ico" rel="icon">

        <title>Réinitialiser mot de passe</title>

        <!-- Bootstrap core CSS -->
        <link href="/libs/jquery/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link href="/account/cover.css" rel="stylesheet">
        <style>
            /* Flatten das boostrap */
            .well,
            .navbar-inner,
            .popover,
            .btn,
            .tooltip,
            input,
            select,
            textarea,
            pre,
            .progress,
            .modal,
            .add-on,
            .alert,
            .table-bordered,
            .nav>.active>a,
            .dropdown-menu,
            .tooltip-inner,
            .badge,
            .label,
            .img-polaroid {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                -webkit-border-radius: 0 !important;
                -moz-border-radius: 0 !important;
                border-radius: 0 !important;
                border-collapse: collapse !important;
                background-image: none !important;
            }

        </style>
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body ng-app="RestPwdApp">

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover">
                        <div class="row">
                            <div class="text-center" style="margin-bottom:40px;">
                                <h1 class="logo">
                                    Pollsy
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="panel panel-default" ng-controller="ResetPasswordCtrl">
                                    <div class="panel-body">
                                        <h3 style="color:#17AC72;">Réinitialiser mot de passe</h3>
                                        <!-- <p style="color:#222">
                                            Resetting password.
                                        </p> -->
                                        <form role="form" name="form" ng-submit="reset();">
                                            <input type="hidden" name="name" value="{{token}}" id="user_token">
                                            <div class="form-group">
                                                <input class="form-control input-lg" ng-model="params.password" id="password" name="password" placeholder="Nouveau mot de passe" type="password" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg" id="password_confirm" name="password_confirm" ng-model="password_confirm" placeholder="Confirmer mot de passe" type="password" validate-equals="params.password " required>
                                                <p class="help-block text-danger" ng-show="form.password_confirm.$dirty && form.password_confirm.$invalid ">Les mots de passe ne correspondent pas.</p>
                                            </div>
                                            <hr class="colorgraph">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <button type="submit" name="button" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid" style="background-color:#1BA688">
                                                        Confirmer
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="inner">
                            <p>
                                <a href="https://pollsy.io">© 2016 Pollsy. All Rights Reserved.</a>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/libs/jquery/jquery/dist/jquery.js"></script>
        <script src="/libs/jquery/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/libs/angular/angular/angular.js"></script>
        <script src="/account/reset-password/reset-password-app.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    </body>
</html>
